<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${tittle}">dashboard</title>

</head>


<body>

	<section>
		<div class="container9">
			<div class="card">

				<div class="card-body ">

					<div class="container9 text-center">
						<img class="my_profile_picture" style="height: 200px; width: 200px;"
							th:src="@{'/image/contact_logo.png'}" alt="" />
					</div>

					<h1 class="text text-secondary">Start adding your contact on cloud...</h1>
				</div>
					<a th:href="@{/user/addcontact}" class="btn btn-primary text-uppercase m-3">Add New Contact</a>


			</div>

		</div>
	</section>
</body>

</html>